@media screen and (max-width: 500px) {
    .nav-link{
      font-size: 13px!important;
    }
    .dropdown-item{
      font-size: 13px!important;
    }
    .line-in{
      font-size: 13px!important;
    }
    .btn{
      font-size: 13px!important;
    }
    .home_slider .item .content h1 {
      font-size: 2rem!important;
    }
    .home_slider .item .content p {
      font-size: 1rem!important;
    }
    .home_slider .item .content .LandingPageButton {
      font-size: 0.7rem!important;
      padding:0.5rem 0.9rem!important;
    }
  }
  @media screen and (max-width: 425px) {
    .nav-link{
      font-size: 11px!important;
    }
    .dropdown-item{
      font-size: 11px!important;
    }
    .line-in{
      font-size: 11px!important;
    }
    .btn{
      font-size: 11px!important;
    }
    .home_slider .item .content h1 {
      font-size: 2rem!important;
    }
  }


.searchBox {
  position: absolute;
  top: -50px;
  left: 0;
  width: 80%;
  height: 0;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out;
  border-radius: 5px;
}

.searchBox input {
  width: 90%;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 2px solid #d2d7db;
}

.searchBox input:focus {
  border: none; /* 取消所有边框 */
  outline: none; /* 确保没有轮廓 */
  border-bottom: 2px solid #d2d7db; /* 仅显示底部边框 */
  caret-color: auto;
}


.searchBox.active {
  height: 700px;
  top: 0;
}