@media screen and (max-width: 500px) {
    .nav-link{
      font-size: 13px!important;
    }
    .dropdown-item{
      font-size: 13px!important;
    }
    .line-in{
      font-size: 13px!important;
    }
    .btn{
      font-size: 13px!important;
    }
    .home_slider .item .content h1 {
      font-size: 2rem!important;
    }
    .home_slider .item .content p {
      font-size: 1rem!important;
    }
    .home_slider .item .content .LandingPageButton {
      font-size: 0.7rem!important;
      padding:0.5rem 0.9rem!important;
    }
  }
  @media screen and (max-width: 425px) {
    .nav-link{
      font-size: 11px!important;
    }
    .dropdown-item{
      font-size: 11px!important;
    }
    .line-in{
      font-size: 11px!important;
    }
    .btn{
      font-size: 11px!important;
    }
    .home_slider .item .content h1 {
      font-size: 2rem!important;
    }
  }

.searchBox {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 20px; /* 可以根据需要调整左右的外边距 */
}

.searchBox input[type="search"] {
    border: 2px solid #ccc; /* 边框颜色 */
    border-radius: 20px; /* 圆角 */
    padding: 10px 20px; /* 内边距 */
    width: 250px; /* 宽度 */
    transition: border-color 0.3s; /* 添加边框变化的过渡效果 */
}

.searchBox input[type="search"]:focus {
    border-color: #007bff; /* 聚焦时边框颜色变化 */
    outline: none; /* 去掉默认的轮廓样式 */
}

.searchBox-active {
  display: block;
}